

.card-body {
    padding: 0.5rem 1.25rem;
}

.card {
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}